@media (max-width: 778px) {
  .container-info-mobile {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .image-about-mobile {
    display: none;
  }

  .container-about-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
  }

  .my-info-mobile {
    font-size: 1.25rem;
  }

  .description-mobile {
    font-size: 1.25rem;
  }
}
